/**********************/
/* Override Bootstrap */
/**********************/

.container{
	width: 100%;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-header {
	padding-left: 5px;
}

.table {
	margin-bottom: 0px;
}

.btn {
	box-shadow: 0px 0px 3px #aaa;
}

.official-btn {
	min-width: 10rem;
}
/**********************/
/** Customized Style **/
/**********************/

body {
  padding-top: 50px;
  height: 100%;
}

#main-container {
	padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.full-height {
	height: 100%;
}

.no-rt-pd {
	padding-right: 0px;
}

#third-container, #fifth-container {
	width: 100%;
	height: 38%;
	display: flex;
}

#forth-container {
	width: 100%;
	height: 24%;
}

#third-container, #forth-container {
	padding-bottom: 10px;
}

.row-left-container {
	padding: 0;
	margin-right: 5px;
}

.view-container {
	height: 100%;
	width: 100%;
    box-shadow: 1px 1px 3px #999;
}

#map-container {
	width: 100%;
	height: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

.weight-base-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}

.weight-base-container > label {
	margin: 0px;
}

.weight-input {
	width: 60px;
}

#weight-title {
	height: 50px;
    box-shadow: 0px 3px 3px #ccc;
    margin: -5px;
    margin-bottom: 8px;
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#weight-title > strong {
	font-size: 1.1rem;
}

#weight-title > span {
	font-size: 14px;
	line-height: 1;
}

/**********************/
/***** Rank Style *****/
/**********************/

path.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis > g > text {
	font-size: 8;
}

/**********************/
/***** Info Style *****/
/**********************/

.official-name-container {
	width: 100%;
	height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    box-shadow: 0px 1px 2px #aaa;
}

.official-name-container > h2 {
	margin: 0;
}

.official-info-container {
	width: 100%;
	display: flex;
	margin-top: 20px;
	padding-left: 5px;
	font-size: 13px;
}

#official-name {
	width: 50%;
}
